<!-- Start Hero Slider -->
    <div class="hero-slider heroflex flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-speed="7000" data-pause="yes">
     <ul class="slides">
           <li class="parallax main_four">
             
           <%= image_tag 'image3.jpg' %>
       <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500" 
           <h2>To know Christ
           <small>The  Family Life Center in Grand Prairie, Texas</small></h2>
        </div> 
    </li>
    <li class="parallax main_one">
      <%= image_tag('image4.jpg', class: 'background-image', alt: 'background') %>
        <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">

            <strong>To grow in Christ</strong>
        </div>
    </li>
    <li class="parallax main_three">
    <%= image_tag 'image3.jpg' %>
        <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
            <strong>To lead people to Christ</strong>
        </div>
    </li>
    <li class="parallax main_five">
      <%= image_tag 'agapehouse2.jpg' %>
        <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">

            <strong>To help people grow in Christ</strong>
        </div>
    </li>
    </ul>
         <!-- <li class="parallax" style="background-image:url(http://placehold.it/1200x500&amp;text=IMAGE+PLACEHOLDER);">
              <div class="flex-caption" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
                  <strong>God is the word</strong>
                  <p>Lorem ipsum dolor sit met, conteturing elit. Phasellus pellentesque osure risus lacinia tristique Fusce sed massa</p>
                </div>
            </li>
          <li class="parallax" style="background-image:url(http://placehold.it/1200x500&amp;text=IMAGE+PLACEHOLDER);">
              <div class="flex-caption" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
                  <strong>God is the word</strong>
                  <p>Lorem ipsum dolor sit met, conteturing elit. Phasellus pellentesque osure risus lacinia tristique Fusce sed massa</p>
                </div>
            </li>
        </ul> -->
        <canvas id="canvas-animation" width="1440" height="683"></canvas>

</div>
    <!-- End Hero Slider -->
    <div class="upcoming-event-bar event-dynamic">
        <div class="container">
            <div class="row">
              <div class="col-md-5 col-sm-5">
                  <span class="label label-primary">Upcoming Event</span>
                  <h3><a href="single-event.html" class="event-title">Sunday Service Celebration</a></h3>
                    <span class="meta-data">On <span class="event-date">03 Sep, 17</span> at <span class="event-time">10:00 AM</span> at</span><span class="meta-data event-location"> <span class="event-location-address">Indian Hill Middle School, 6400 Mission Rd Prairie Village, KS 66204</span></span>
                </div>
                <div class="col-md-5 col-sm-7">
                    <div id="counter" class="counter clearfix" data-date="September 03, 2017">
                        <div class="timer-col"> <span id="days"></span> <span class="timer-type">Days</span> </div>
                        <div class="timer-col"> <span id="hours"></span> <span class="timer-type">Hours</span> </div>
                        <div class="timer-col"> <span id="minutes"></span> <span class="timer-type">Minutes</span> </div>
                        <div class="timer-col"> <span id="seconds"></span> <span class="timer-type">Seconds</span> </div>
                    </div>
                </div>
                <div class="col-md-2 text-align-right">
                    <ul class="action-buttons">
                        <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link">
                     <!--   <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                        <!--<li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
                    </ul>
                   <!-- <a href="#" class="btn btn-primary btn-sm event-tickets event-register-button">Register</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Lead Content -->
  <!--  <div class="lead-content clearfix">
      <div class="lead-content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-4 col-sm-4 featured-block">
                        <h3>Our Community</h3>
                        <figure>
                          <a href="about.html"><img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="Our Community"></a>
                      </figure>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 featured-block">
                        <h3>Church Mission</h3>
                        <figure>
                          <a href="donate.html"><img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="Our Community"></a>
                      </figure>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 featured-block">
                        <h3>Join a Group</h3>
                        <figure>
                          <a href="new-here.html"><img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="Our Community"></a>
                      </figure>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>
                    </div>
                </div>
          </div>
        </div>
    </div> -->
    <!-- Start Body Content -->
    <div class="main" role="main">
      <div id="content" class="content full">
          <div class="container">
              <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="widget latest_sermons_widget">
                            <ul>
                                <li class="most-recent-sermon clearfix">
                                    <h3>Recent Sermons</h3>
                                    <hr class="sm">
                                    <div class="latest-sermon-video fw-video">
                                        <iframe width="854" height="480" src="https://www.youtube.com/embed/FMQYDFjzU90" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="latest-sermon-content" style="width: 100%">
                                        <h4><a href="single-sermon.html">RCCG 65<sup>th</sup>CONVENTION</a></h4>
                                        <div class="meta-data">by <a href="#">Pastor E.A Adeboye</a></div>
                                        <p>PASTOR E.A ADEBOYE SERMON RCCG AUGUST 2017 HOLY GHOST SERVICE- HALLELUJAH</p>
                                    </div>
   <!--                                 <div class="sermon-links">
                                        <ul class="action-buttons">
                                            <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Watch Video"><i class="icon-video-cam"></i></a></li>
                                            <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Listen Audio"><i class="icon-headphones"></i></a></li>
                                            <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Download Audio"><i class="icon-cloud-download"></i></a></li>
                                            <li><a href="single-sermon.html" data-toggle="tooltip" data-placement="right" data-original-title="Download PDF"><i class="icon-download-folder"></i></a></li>
                                        </ul>
                                    </div>   -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="element-block events-listing">
                            <div class="events-listing-header">
                                <a href="events.html" class="pull-right basic-link">All Services</a>
                                <h3 class="element-title">Upcoming Services</h3>
                                <hr class="sm">
                            </div>
                          <!--  <div class="events-listing-content">
                                <div class="event-list-item event-dynamic">
                                  <div class="event-list-item-date">
                                      <span class="event-date">
                                          <span class="event-day">27</span>
                                          <span class="event-month">Aug, 17</span>
                                        </span>
                                    </div>
                                    <div class="event-list-item-info">
                                      <div class="lined-info">
                                          <h4><a href="single-event.html" class="event-title">Sunday Service</a></h4>
                                        </div>
                                      <div class="lined-info">
                                          <span class="meta-data"><i class="fa fa-clock-o"></i> Sunday, <span class="event-time">10:00 AM</span></span>
                                        </div>
                                      <div class="lined-info event-location">
                                          <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">Indian Hill Elementary School, Mission Rd Prairie Village, KS 66204</span></span>
                                        </div>
                                    </div>
                                    <div class="event-list-item-actions">
                                     <!-- <a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> -->
                               <!--       <ul class="action-buttons">
                                          <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                                          <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                                         <!-- <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
                                      <!--  </ul> -->
                                    <!-- </div> -->
                               <!-- </div> -->
                                <div class="event-list-item event-dynamic">
                                  <div class="event-list-item-date">
                                      <span class="event-date">
                                          <span class="event-day">30</span>
                                          <span class="event-month">Aug, 17</span>
                                        </span>
                                    </div>
                                    <div class="event-list-item-info">
                                      <div class="lined-info">
                                          <h4><a href="single-event.html" class="event-title">Bible Study</a></h4>
                                        </div>
                                      <div class="lined-info">
                                          <span class="meta-data"><i class="fa fa-clock-o"></i> Wednesdays, <span class="event-time">06:00 PM</span></span>
                                        </div>
                                      <div class="lined-info event-location">
                                          <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">TeleConference</span></span>
                                        </div>
                                    </div>
                                    <div class="event-list-item-actions">
                                     <!-- <a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> -->
                                      <ul class="action-buttons">
                                          <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                                          <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                                         <!-- <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="event-list-item event-dynamic">
                                  <div class="event-list-item-date">
                                      <span class="event-date">
                                          <span class="event-day">01</span>
                                          <span class="event-month">Sep, 17</span>
                                        </span>
                                    </div>
                                    <div class="event-list-item-info">
                                      <div class="lined-info">
                                          <h4><a href="single-event.html" class="event-title">Prayer Night</a></h4>
                                        </div>
                                      <div class="lined-info">
                                          <span class="meta-data"><i class="fa fa-clock-o"></i> Friday, <span class="event-time">9:00 PM</span></span>
                                        </div>
                                      <div class="lined-info event-location">
                                          <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">TeleConference</span></span>
                                        </div>
                                    </div>
                                    <div class="event-list-item-actions">
                                     <!-- <a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> -->
                                      <ul class="action-buttons">
                                          <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                                          <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
                                        <!--  <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
          <!--  <div class="spacer-30"></div>
            <div class="lgray-bg padding-tb45">
              <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>From our blog</h3>
                            <hr class="sm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="very-latest-post format-standard">
                                        <div class="title-row">
                                            <a href="blog-post.html#comments" class="comments-go" title="10 comments"><i class="icon-dialogue-text"></i></a>
                                            <h4>Very latest</h4>
                                        </div>
                                        <a href="blog-post.html" class="media-box post-thumb">
                                            <img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="">
                                        </a>
                                        <h3 class="post-title"><a href="blog-post.html">Don't run behind the charm</a></h3>
                                        <div class="meta-data">by <a href="#">imithemes</a> on 25th August, 2014 in <a href="#">General</a></div>
                                        <p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec vulputate nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec vulputate eget...</p>
                                        <p><a href="blog-post.html" class="btn btn-primary">Continue reading</a></p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <ul class="blog-classic-listing">
                                        <li class="format-standard">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="blog-post.html" class="media-box post-thumb">
                                                        <img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="">
                                                    </a>
                                                </div>
                                                <div class="col-md-8">
                                                    <a href="blog-post.html"><strong class="post-title">Don't run behind the charm</strong></a>
                                                    <div class="meta-data">by <a href="#">imithemes</a> on 25th August, 2014 in <a href="#">General</a></div>
                                                    <p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget...</p>
                                                    <p><a href="blog-post.html" class="basic-link">Continue reading</a></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="format-standard">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="blog-post.html" class="media-box post-thumb">
                                                        <img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="">
                                                    </a>
                                                </div>
                                                <div class="col-md-8">
                                                    <a href="blog-post.html"><strong class="post-title">Robin Williams: The death of our captain</strong></a>
                                                    <div class="meta-data">by <a href="#">imithemes</a> on 12th August, 2014 in <a href="#">General</a></div>
                                                    <p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget...</p>
                                                    <p><a href="blog-post.html" class="basic-link">Continue reading</a></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="format-standard">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="blog-post.html" class="media-box post-thumb">
                                                        <img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="">
                                                    </a>
                                                </div>
                                                <div class="col-md-8">
                                                    <a href="blog-post.html"><strong class="post-title">EPPN: It’s Time For Prison Reform</strong></a>
                                                    <div class="meta-data">by <a href="#">imithemes</a> on 31st July, 2014 in <a href="#">General</a></div>
                                                    <p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget...</p>
                                                    <p><a href="blog-post.html" class="basic-link">Continue reading</a></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Body Content --> 
    <!-- Gallery updates -->
 <!--   <div class="gallery-updates cols5 clearfix">
      <ul>
        <li class="format-image"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto" class="media-box">
          <%= image_tag 'gallery1.jpg' %></a></li>
         
          <li class="format-image"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto" class="media-box">
          <%= image_tag 'gallery1.jpg' %></a></li>
          <li class="format-standard">
              <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="no" data-style="slide" data-pause="yes">
                    <ul class="slides">
                        <li class="item"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname1]"><%= image_tag 'gallery1.jpg' %></a></li>
                        <li class="item"><a href="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname1]"><%= image_tag 'gallery1.jpg' %></a></li> 
                  </ul>
                </div>
            </li>
          <li class="format-image"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto" class="media-box"></a></li>
          <li class="format-standard">
              <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="no" data-style="fade" data-speed="4000" data-pause="yes">
                    <ul class="slides">
                        <li class="item"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname2]"><%= image_tag 'gallery 2.jpg' %></a></li>
                        <li class="item"><a href="http://placehold.it/400x400&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname2]"><%= image_tag 'gallery 2.jpg' %></a></li> 
                  </ul>
                </div>
            </li>
          <li class="format-video"><a href="#"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100017105711758%2Fvideos%2F107045269875663%2F&show_text=0&width=560" width="560" height="317" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></a></li> -->
       <!-- </ul> -->
            
            <!-- <li class="format-video"><a href="http://vimeo.com/37540860" data-rel="prettyPhoto" class="media-box"><img src="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li> -->
     <!-- please place back the <ul> tag on line 333 here -->
    <!--    <div class="gallery-updates-overlay">
          <div class="container">
              <i class="icon-multiple-image"></i>
              <h1>GALLERY UPDATES</h1>
            </div>
        </div> 
    </div>  
    

<!-- Event Directions Popup -->
<!--<div class="quick-info-overlay">
  <div class="quick-info-overlay-left accent-bg">
        <a href="#" class="btn-close"><i class="icon-delete"></i></a>
      <div class="event-info">
        <h3 class="event-title"></h3>
          <div class="event-address"></div>
            <a href="" class="btn btn-default btn-transparent btn-permalink">Full details</a>
        </div>
    </div>
  <div class="quick-info-overlay-right">
        <div id="event-directions"></div>
    </div>
</div> -->
<!-- Event Contact Modal Window -->
<!--<div class="modal fade" id="Econtact" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="Econtact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact Event Manager <span class="accent-color"></span></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="fname" class="form-control" placeholder="First name (Required)">
                </div>
                <div class="col-md-6">
                    <input type="text" name="lname" class="form-control" placeholder="Last name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="email" name="email" class="form-control" placeholder="Your email (Required)">
                </div>
                <div class="col-md-6">
                    <input type="number" name="phone" class="form-control" placeholder="Your phone">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea rows="3" cols="5" class="form-control" placeholder="Additional notes"></textarea>
                </div>
            </div>
            <input type="submit" name="donate" class="btn btn-primary btn-lg btn-block" value="Contact Now">
        </form>
      </div>
      <div class="modal-footer">
        <p class="small short">If you would prefer to call in for inquiries, please call 1800.785.876</p>
      </div>
    </div>
  </div>
</div> -->
<!-- Event Register Tickets -->
<!--<div class="ticket-booking-wrapper">
    <a href="#" class="ticket-booking-close label-danger"><i class="icon icon-delete"></i></a>
    <div class="ticket-booking">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3><strong>Book your</strong> <span>tickets</span></h3>
                </div>
                <div class="col-md-9">
                    <div class="event-ticket ticket-form">
                        <div class="event-ticket-left">
                            <div class="ticket-handle"></div>
                            <div class="ticket-cuts ticket-cuts-top"></div>
                            <div class="ticket-cuts ticket-cuts-bottom"></div>
                        </div>
                        <div class="event-ticket-right">
                            <div class="event-ticket-right-inner">
                                <div class="row">
                                    <div class="col-md-9 col-sm-9">
                                        <span class="meta-data">Your ticket for</span>
                                        <h4 id="dy-event-title"></h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <span class="meta-data">Tickets count</span>
                                        <select class="form-control input-sm">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="event-ticket-info">
                                    <div class="row">
                                        <div class="col">
                                            <p class="ticket-col" id="dy-event-date"></p>
                                        </div>
                                        <div class="col">
                                            <a href="#" class="btn btn-warning btn btn-block ticket-col">Book</a>
                                        </div>
                                        <div class="col">
                                            <p id="dy-event-time">Starts </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="event-location" id="dy-event-location"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->