  <div class="hero-slider heroflex flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-speed="7000" data-pause="yes">
    <ul class="slides">
      
      <!-- <li class="parallax guest">

           <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
                <strong></strong>
            </div>
        </li> -->
    <li class="parallax main_four">
     
     <%= image_tag "image2.jpg", width: "100%", alt: 'image2' %>
        <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
           <h2>To know Christ
           <small>The  Family Life Center in Grand Prairie, Texas</small></h2>
        </div>
    </li>
    <li class="parallax main_one">
      <%= image_tag "agapehouse2.jpg", width: "100%", alt: 'agapehouse2' %>
        <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">

            <strong>To grow in Christ</strong>
        </div>
    </li>
    <li class="parallax main_three">
      <%= image_tag "image3.jpg", width: "100%", alt: 'image3' %>
        <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
            <strong>To lead people to Christ</strong>
        </div>
    </li>
    <li class="parallax main_five">
     <%= image_tag "image4.jpg", width: "100%", height: "100%", alt: 'image4' %>
        <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">

            <strong>To help people grow in Christ</strong>
        </div>
    </li>
    </ul>
    <canvas id="canvas-animation"></canvas>
</div>
<!-- End Hero Slider -->
<div class="upcoming-event-bar event-dynamic">
<div class="container">
  <div class="row">
    <% unless date_of_next("Sunday").strftime("%d %b, %Y") == DateTime.parse("26 MAR, 2017").strftime("%d %b, %Y") %>
          <div class="col-md-6 col-sm-6">
            <span class="label label-primary">Upcoming Event</span>
            <h3><a href="#" class="event-title">Sunday Celebration Service</a></h3>
            <h4 style="margin:0px;">
            <span class="meta-data">On <span class="event-date"><%= date_of_next("Sunday").strftime("%d %b, %Y") %></span> at <span class="event-time">11:00 AM</span> at</span><span class="meta-data event-location"> <span class="event-location-address">6400 Mission Rd Prairie Village, KS 66204</span></span>
            </h4>
        </div>
        <div class="col-md-4 col-sm-4">
            <div id="counter" class="counter clearfix" data-date="<%= date_of_next("Sunday").strftime("%d %b, %Y") %>">
                <div class="timer-col"> <span id="days"></span> <span class="timer-type">Days</span> </div>
                <div class="timer-col"> <span id="hours"></span> <span class="timer-type">Hours</span> </div>
                <div class="timer-col"> <span id="minutes"></span> <span class="timer-type">Minutes</span> </div>
                <div class="timer-col"> <span id="seconds"></span> <span class="timer-type">Seconds</span> </div>
            </div>
        </div>
        <% else %>
        <div class="col-md-6 col-sm-6">
            <span class="label label-primary">Upcoming Event</span>
            <h3><a href="#" class="event-title">Guest Minister: Dr. Francis Myles</a></h3>
            <h4 style="margin:0px;">
            <span class="meta-data">On <span class="event-date">FRI 24 MAR, 2017 - SUN 26 MAR, 2017</span> at
            <span class="meta-data event-location">
                <span class="event-location-address">10813 East 23rd Street Independence MO 64052</span>
            </span>
            </h4>
        </div>
        <div class="col-md-4 col-sm-4">
            <div id="counter" class="counter clearfix" data-date="<%= date_of_next("Friday").strftime("%d %b, %Y") %>">
                <div class="timer-col"> <span id="days"></span> <span class="timer-type">Days</span> </div>
                <div class="timer-col"> <span id="hours"></span> <span class="timer-type">Hours</span> </div>
                <div class="timer-col"> <span id="minutes"></span> <span class="timer-type">Minutes</span> </div>
                <div class="timer-col"> <span id="seconds"></span> <span class="timer-type">Seconds</span> </div>
            </div>
        </div>
        <% end %>
        <div class="col-md-2 text-align-right">
            <ul class="action-buttons">
                <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
                <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
<!--                     <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
              </ul>
                <!-- <a href="#" class="btn btn-primary btn-sm event-tickets event-register-button">Register</a> -->
            </div>
        </div>
    </div>
</div>
           
<!-- Start Body Content -->


<div class="main" role="main">
<div id="content" class="content full">
    <div class="container">
         
<div class="main" role="main">
<div id="content" class="content full">
<div class="container">
<div class="row">
<div class="col-md-5 col-sm-5">
  <div class="widget latest_sermons_widget">
      <ul>
          <li class="most-recent-sermon clearfix">
              <h3>Recent Sermons</h3>
              <hr class="sm">
          </li>
         <div class="latest-sermon-video fw-video">
          <iframe width="560" height="315" src=" <%= "https://www.youtube.com/embed/PhGhjMHhRkE" %>"frameborder="0" allowfullscreen></iframe>
         </div>
         
      </ul>
  </div>
</div> 

<div class="col-md-7 col-sm-7">
  <div class="element-block events-listing">
      <div class="events-listing-header">
          <a href="#" class="pull-right basic-link">All Services</a>
          <h3 class="element-title">Upcoming Services</h3>
          <hr class="sm">
      </div>
     <ul class="events-listing-content sort-destination isotope-events" data-sort-id="events">
              <li class="event-list-item event-dynamic grid-item prayers celebrations"> 
                <div class="event-list-item-date">
                    <span class="event-date">
                        <span class="event-day">23</span>
                        <span class="event-month">Aug, 17</span>
                      </span>
                  </div>
                  <div class="event-list-item-info">
                    <div class="lined-info">
                        <h4><a href="single-event.html" class="event-title">Bible Study</a></h4>
                      </div>
                    <div class="lined-info">
                        <span class="meta-data"><i class="fa fa-clock-o"></i> Wednesday, <span class="event-time">6:00 PM</span></span>
                      </div>
                    <div class="lined-info event-location">
                        <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">TeleConference</span></span>
                      </div>
                  </div>
        <div class="event-list-item-actions">
         <!-- <a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> -->
          <ul class="action-buttons">
              <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
              <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
             <!-- <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
            </ul>
        </div>
    </li>
    <li class="event-list-item event-dynamic grid-item meetings">
      <div class="event-list-item-date">
          <span class="event-date">
              <span class="event-day">25</span>
              <span class="event-month">Aug, 17</span>
            </span>
        </div>
        <div class="event-list-item-info">
          <div class="lined-info">
              <h4><a href="single-event.html" class="event-title"> Prayer Night</a></h4>
            </div>
          <div class="lined-info">
              <span class="meta-data"><i class="fa fa-clock-o"></i> Friday, <span class="event-time">9:00 PM</span></span>
            </div>
          <div class="lined-info event-location">
              <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">TeleConference</span></span>
            </div>
        </div>
        <div class="event-list-item-actions">
         <!-- <a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> -->
          <ul class="action-buttons">
              <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
              <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
             <!-- <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
            </ul>
        </div>
    </li>
  <li class="event-list-item event-dynamic grid-item prayers">
    <div class="event-list-item-date">
        <span class="event-date">
            <span class="event-day">27</span>
            <span class="event-month">Aug, 17</span>
          </span>
      </div>
      <div class="event-list-item-info">
        <div class="lined-info">
            <h4><a href="single-event.html" class="event-title">Sunday School</a></h4>
          </div>
        <div class="lined-info">
            <span class="meta-data"><i class="fa fa-clock-o"></i> Sunday, <span class="event-time">10:00 AM</span></span>
          </div>
        <div class="lined-info event-location">
            <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">6400 Mission Rd, Prairie Village, KS 66204</span></span>
          </div>
      </div>
      <div class="event-list-item-actions">
        <!--<a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> -->
        <ul class="action-buttons">
            <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
            <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
            <!--<li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
          </ul>
      </div>
  </li>
    <li class="event-list-item event-dynamic grid-item fests">
      <div class="event-list-item-date">
          <span class="event-date">
              <span class="event-day">27</span>
              <span class="event-month">Aug, 17</span>
            </span>
        </div>
        <div class="event-list-item-info">
          <div class="lined-info">
              <h4><a href="single-event.html" class="event-title">Sunday Service</a></h4>
            </div>
          <div class="lined-info">
              <span class="meta-data"><i class="fa fa-clock-o"></i> Sunday, <span class="event-time">11:00 AM</span></span>
            </div>
          <div class="lined-info event-location">
              <span class="meta-data"><i class="fa fa-map-marker"></i> <span class="event-location-address">6400 Mission Rd, Prairie Village, KS 66204</span></span>
            </div>
        </div>
        <div class="event-list-item-actions">
        <!--  <a href="#" class="btn btn-default btn-transparent event-tickets event-register-button">Register</a> -->
          <ul class="action-buttons">
              <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="icon-share"></i></a></li>
              <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="icon-compass"></i></a></li>
            <!--  <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
    <!-- End Body Content -->
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-30"></div>
    </div>
</div>
<!-- End Body Content -->
<!-- Lead Content -->
  <!--  <div class="lead-content clearfix">
        <div class="lead-content-wrapper">
            <div class="container">
                <div class="row">
            <div class="col-md-4 col-sm-4 featured-block">
                <h3>Our Community</h3>
                <figure>
                    <a href="about.html"><img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="Our Community"></a>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>
            </div>
            <div class="col-md-4 col-sm-4 featured-block">
                <h3>Church Mission</h3>
                <figure>
                    <a href="donate.html"><img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="Our Community"></a>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>
            </div>
            <div class="col-md-4 col-sm-4 featured-block">
                <h3>Join a Group</h3>
                <figure>
                    <a href="new-here.html"><img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt="Our Community"></a>
                </figure>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra.</p>
            </div>
        </div>
    </div>
  </div>
    </div>
    <!-- section begin -->
          

       <!-- Gallery updates -->
    <div class="gallery-updates cols5 clearfix">
   
      <ul>
          <li class="format-image"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto" class="media-box"><%= image_tag 'image5.jpg' %></a></li>
          <li class="format-standard">
              <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="no" data-style="slide" data-pause="yes">
                    <ul class="slides">
                        <li class="item"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname1]"><%= image_tag 'image5.jpg' %></a></li>
                        <!--<li class="item"><a href="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname1]"><%= image_tag 'image6.jpg' %></a></li> -->
                  </ul>
                </div>
            </li>
          <li class="format-image"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto" class="media-box"></a></li>
          <li class="format-standard">
              <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="no" data-style="fade" data-speed="4000" data-pause="yes">
                    <ul class="slides">
                        <li class="item"><a href="http://placehold.it/600x600&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname2]"><%= image_tag 'image5.jpg' %></a></li>
                        <li class="item"><a href="http://placehold.it/400x400&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname2]"><%= image_tag 'image5.jpg' %></a></li>
                  </ul>
                </div>
            </li>
          <li class="format-video"><a href="#"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100017105711758%2Fvideos%2F107045269875663%2F&show_text=0&width=560" width="560" height="317" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></a></li> -->
        </ul>
        <div class="gallery-updates-overlay">
          <div class="container">
              <i class="icon-multiple-image"></i>
                <h2>Updates from our gallery</h2>
            </div>
        </div>
    </div>