<!-- Start Hero Slider -->
    <div class="hero-slider heroflex flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-speed="7000" data-pause="yes">
     <ul class="slides">
           <li class="parallax main_four">
      <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500"> 
        <strong>To Serve God</strong>
        </div> 
    </li>
    <li class="parallax main_one">
       <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500">
        <strong>To be Holy</strong>
        </div>
    </li>
    <li class="parallax main_two">
       <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500"> 
          <strong>To Walk In Love</strong>
        </div>
    </li>
    <li class="parallax main_three">
       <div class="flex-caption white" data-appear-animation="fadeInRight" data-appear-animation-delay="500"> 
            <strong>To lead people to Christ</strong>
        </div>
    </li>
    </ul>
         <canvas id="canvas-animation"></canvas>
         
</div>
    <!-- End Hero Slider -->
    <div class="upcoming-event-bar event-dynamic">
    <div class="container">
        <div class="row">
            <% unless date_of_next("Sunday").strftime("%d %b, %Y") == DateTime.parse("26 MAR, 2017").strftime("%d %b, %Y") %>
            <div class="col-md-6 col-sm-6">
                <span class="label label-primary">Upcoming Event</span>
                <h3><a href="#" class="event-title">Sunday Celebration Service</a></h3>
                <h4 style="margin:0px;">
                <span class="meta-data">On <span class="event-date"><%= date_of_next("Sunday").strftime("%d %b, %Y") %></span> at <span class="event-time">11:00 AM</span> at</span><span class="meta-data event-location"> <span class="event-location-address">6400 Indian Hill middle school Mission, Kansas 64052</span></span>
                </h4>
            </div>
            <div class="col-md-4 col-sm-4">
                <div id="counter" class="counter clearfix" data-date="<%= date_of_next("Sunday").strftime("%d %b, %Y") %>">
                    <div class="timer-col"> <span id="days"></span> <span class="timer-type">Days</span> </div>
                    <div class="timer-col"> <span id="hours"></span> <span class="timer-type">Hours</span> </div>
                    <div class="timer-col"> <span id="minutes"></span> <span class="timer-type">Minutes</span> </div>
                    <div class="timer-col"> <span id="seconds"></span> <span class="timer-type">Seconds</span> </div>
                </div>
            </div>
            <% else %>
            
            <div class="col-md-4 col-sm-4">
                <div id="counter" class="counter clearfix" data-date="<%= date_of_next("Friday").strftime("%d %b, %Y") %>">
                    <div class="timer-col"> <span id="days"></span> <span class="timer-type">Days</span> </div>
                    <div class="timer-col"> <span id="hours"></span> <span class="timer-type">Hours</span> </div>
                    <div class="timer-col"> <span id="minutes"></span> <span class="timer-type">Minutes</span> </div>
                    <div class="timer-col"> <span id="seconds"></span> <span class="timer-type">Seconds</span> </div>
                </div>
            </div>
            <% end %>
            <div class="col-md-2 text-align-right">
                <ul class="action-buttons">
                <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="popover" data-original-title="Share Event" class="event-share-link"><i class="fa fa-share-alt"></i></a></li>
                <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="fa fa-compass"></i></a></li>
                   <!-- <li title="Share event"><a href="#" data-trigger="focus" data-placement="top" data-content="" data-toggle="overover" data-original-title="Share Event" class="event-share-link"><i class="fa fa-share-alt"></i></a></li>
                    <li title="Get directions" class="hidden-xs"><a href="#" class="cover-overlay-trigger event-direction-link"><i class="fa fa-compass"></i></a></li> -->
<!--                     <li title="Contact event manager"><a href="#" data-toggle="modal" data-target="#Econtact" class="event-contact-link"><i class="icon-mail"></i></a></li> -->
                </ul>
                <!-- <a href="#" class="btn btn-primary btn-sm event-tickets event-register-button">Register</a> -->
            </div>
        </div>
    </div>
</div>
<div class="spacer-20"></div>
    <!-- Start Body Content -->
    <div class="main" role="main">
      <div id="content" class="content full">
          <div class="container">
              <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="widget latest_sermons_widget">
                            <ul>
                                <li class="most-recent-sermon clearfix">
                                    <h3>Recent Sermons</h3>
                                    <hr class="sm">
                                    <div class="latest-sermon-video fw-video">
                                        <iframe width="854" height="480" src="https://www.youtube.com/embed/FMQYDFjzU90" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="latest-sermon-content" style="width: 100%">
                                        <h4><a href="single-sermon.html">RCCG 65<sup>th</sup>CONVENTION</a></h4>
                                        <div class="meta-data">by <a href="#">Pastor E.A Adeboye</a></div>
                                        <p>PASTOR E.A ADEBOYE SERMON RCCG AUGUST 2017 HOLY GHOST SERVICE- HALLELUJAH</p>
                                    </div>
                                
                                </li>
                            </ul>
                        </div>
                    </div>
                      
                <div class="col-md-7 col-sm-7">
                    <div class="element-block events-listing">
                        <div class="events-listing-header">
                            <a href="#" class="pull-right basic-link">All Services</a>
                            <h3 class="element-title">Upcoming Services</h3>
                            <hr class="sm">
                        </div>
                        <div class="events-listing-content">

                            <%= render partial: 'event_listing', :locals => {:day => Date.today} %>
                            <%= render partial: 'event_listing', :locals => {:day => 1.day.from_now} %>
                            <%= render partial: 'event_listing', :locals => {:day => 2.days.from_now} %>
                            <%= render partial: 'event_listing', :locals => {:day => 3.days.from_now} %>
                            <%= render partial: 'event_listing', :locals => {:day => 4.days.from_now} %>
                            <%= render partial: 'event_listing', :locals => {:day => 5.days.from_now} %>
                            <%= render partial: 'event_listing', :locals => {:day => 6.days.from_now} %>
                            <%= render partial: 'event_listing', :locals => {:day => 7.days.from_now} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-90"></div>
    </div>
</div>

          