<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" lang="en"> <!--<![endif]-->
<%= render 'shared/head' %>
<body class="home header-style2 footer-dark"> 

<!--[if lt IE 7]>
  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div> 
<%= render 'shared/header' %>
  <% if @home_page.present? %>
    <div class="main" role="main">
      <div id="content" class="full">
        <!-- <div class="container"> -->
          <%= flash_messages %>
        <!-- </div> -->
        <%= yield %>
  
      </div>
    </div>
  <% else %>
                <%= yield %>
  <% end %>
  <%= render 'shared/footer' %>
    <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> 
</div>
<%= render 'shared/events' %>


<script src="/js/jquery-2.0.0.min.js"></script> <!-- Jquery Library Call -->
<script src="/vendor/prettyphoto/js/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
<script src="/js/helper-plugins.js"></script> <!-- Helper Plugins -->
<script src="/js/bootstrap.js"></script> <!-- UI -->
<script src="/js/init.js"></script> <!-- All Scripts -->
<script src="/js/home.js"></script> <!-- All Scripts -->
<script src="/vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
<script src="/vendor/countdown/js/jquery.countdown.min.js"></script> <!-- Jquery Timer -->
<script src="/vendor/mediaelement/mediaelement-and-player.min.js"></script> <!-- MediaElements -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>




</body>
</html>
